<div class="root">

  <div class="centered">
    <div class="name">
      Kevin<strong class="emphasis"> Le Gonidec</strong>
    </div>
    
    <div class="desc">
      <h2><strong class="emphasis">Staff Engineer</strong></h2>
      <h3><strong class="blue">Working</strong><strong class="white"> from </strong><strong class="red">France</strong></h3>
      <h5>REST to gRPC</h5>
      <h5>Pure ESNext JS, TypeScript</h5>
      <h5>Monolithe, microServices and Event-base Architecture</h5>
      <h5>A bit of pizza, and a lot of jokes</h5>
    </div>
    <div class="menu">
      <ul class="topnav">
        <li><a rel="noopener" href="https://www.malt.fr/profile/kevinlegonidec" target="_blank" title="Malt : Frelance"><i class="icon" malt></i></a></li>
        <li><a rel="noopener" href="https://www.linkedin.com/in/kevin-le-gonidec/" target="_blank" title="LinkedIn"><i class="icon" linkedin></i></a></li>
      </ul>
    </div>
  </div>
</div>