<div class="root">

  <div class="centered">
    <div class="name">
      Kevin<span class="emphasis"> Le Gonidec</span>
    </div>
    
    <div class="desc">
      <h2><span class="emphasis">Tech Lead</span> Full stack</h2>
      <h3><span class="blue">Working</span><span class="white"> from </span><span class="red">France</span></h3>
      <h5>Angular, .NET and Pizza</h5>
    </div>
    <div class="menu">
      <ul class="topnav">
        <li><a  href="https://www.malt.fr/profile/kevinlegonidec" target="_blank" title="Malt : Frelance"><i class="icon" malt></i></a></li>
        <li><a  href="https://www.linkedin.com/in/kevin-le-gonidec/" target="_blank" title="LinkedIn"><i class="icon" linkedin></i></a></li>
      </ul>
    </div>
  </div>
</div>