
$base_font_size_per: 7vmin;
$base_font_size: 40px;

.icon svg
{
    width: 34px;
}

.centered{
    color: #eaeaea;
    // background: rgb(97, 96, 96);
    text-transform: uppercase;
    font-weight: 300;
    font-size: $base_font_size_per*1.5;
    width: 100vw;
    position: relative;
    z-index:1111;
    text-align: center;
    transition: all 0.5s;;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}
.emphasis{
    font-weight: 900;
}
.desc{
    color:#eaeaea;
    text-transform:uppercase;

    .text{
        padding-top: 30px;
        text-align: center;
        width: 470px;
        margin: 0;
    }
    h2{
        vertical-align:middle;
        font-size: $base_font_size_per;
        font-weight: 300;
        margin: 0;
    }
    h3{
        .blue{
            color: #0055A4
        }
        .white{
            color: #fff
        }
        .red {
            color:#EF4135
        }
        font-weight: 300;
        font-size: $base_font_size_per*0.5;
        letter-spacing: 0.5px;
        margin: 0;
    }
    h5{
        font-weight: 900;
        color:#6d6d6d;
        font-size: $base_font_size_per*0.375;
        letter-spacing: 3.9px;
        margin: 0;
    }

}


.topnav{
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #eaeaea;
    font-size: 15px;
    letter-spacing: 1px;
}
.topnav li{
    text-align:center;
    color: #eaeaea;
    margin: 0px 7px;
    display: inline-block;
    font-size: 30px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.topnav li:first-child{
    margin-left: 10px;
}
.topnav li:hover{
    .fa-linkedin {
        color: #0a66c2
    }
    color: unset;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
}
.topnav a{
    text-decoration: none;
    color: inherit;
}
  